<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php">
    <testsuites>
        <testsuite name="Kata Test Suite">
            <directory>./src/Kata/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Kata/</directory>
            <exclude>
                <directory>./src/Kata/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>